:root {
    --border-radius-pixel: 14px
}


.centered-title {
    text-align: center;
}

.gallery {
    margin: 0 auto;
    max-width: 1200px;
    column-count: 3;
    font-family: arial;
    text-align: center;
}

.gallery-item {
    break-inside: avoid;
    margin-bottom: 16px;
}

.gallery-item figure {
    margin: 0;
    position: relative;
}
.gallery-item figcaption {
    font-style: italic;
    padding: 8px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
    bottom: 3px;
    color: #fff;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0 0 var(--border-radius-pixel) var(--border-radius-pixel);
}

.gallery-item img {
    width: 100%;
    border-radius: var(--border-radius-pixel);
}

.gallery-item p {
    margin: 0;
    padding: 8px;
}

@media screen and (max-width: 500px) {
    .gallery {
        column-count: 1;
    }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
    .gallery {
        column-count: 2;
    }
}

@media screen and (min-width: 701px) and (max-width: 850px) {
    .gallery {
        column-count: 3;
    }
}
